<html>
<div class="wrapper wrapper-style3">
<article id="especes">
    <head>
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style_common.css" />
        <link rel="stylesheet" type="text/css" href="css/style1.css" />
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
    </head>
    <header>
            <h2>Les espèces</h2>
            <span>Voici les différentes espèces de tortues :</span>
    </header>
    <body>
        <div class="container">
            <div class="header">
                <div class="clr"></div>
            </div>
            <div class="main">
                <div class="view view-first">
                    <img src="images/t1.jpg" />
                    <div class="mask">
                        <h2>Caouanne</h2>
                        <p>La Caouanne est présente dans les océans du monde entier et mesure en moyenne 90 cm de long quand elle a atteint sa taille adulte.</p>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="images/t2.jpg" />
                    <div class="mask">
                        <h2>Tortue verte</h2>
                        <p>La tortue verte est présente dans les océans du monde entier et mesure en moyenne 110 cm de long quand elle a atteint sa taille adulte.</p>
                    </div>
                </div> 
                <div class="view view-first">
                    <img src="images/t3.jpg" />
                    <div class="mask">
                        <h2>Tortue imbriquée</h2>
                        <p>La tortue imbriquée est présente dans les océans du monde entier et mesure en moyenne 90 cm de long quand elle a atteint sa taille adulte.</p>
                    </div>
                </div> 
                <div class="view view-first">
                    <img src="images/t4.jpg" />
                    <div class="mask">
                        <h2>Tortue à dos plat</h2>
                        <p>La tortue à dos plat est présente dans les océans du monde entier et mesure en moyenne 115 cm de long quand elle a atteint sa taille adulte.</p>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="images/t5.jpg" />
                    <div class="mask">
                        <h2>Tortue de kemp</h2>
                        <p>La tortue de kemp est présente dans les océans du monde entier et mesure en moyenne 65 cm de long quand elle a atteint sa taille adulte.</p>
                    </div>
                </div>
                <div class="view view-first">
                    <img src="images/t6.jpg" />
                    <div class="mask">
                        <h2>Tortue luth</h2>
                        <p>La tortue luth est présente dans les océans du monde entier et mesure en moyenne 180 cm de long quand elle a atteint sa taille adulte.</p>
                    </div>
                </div>  
            </div>
        </div>
    </body>
    <footer>
        <p> 1. Couanne </p>
        <p> 2. Tortue verte </p>
        <p> 3. Tortue imbriquée </p>
        <p> 4. Tortue à dos plat </p>
        <p> 5. Tortue de kemp </p>
        <p> 6. Tortue luth </p>

    </footer>
</article>
</div>
</html>