<html>
<div class="wrapper wrapper-style1 wrapper-first">
	<article class="container" id="top">
		<div class="row">
			<div class="4u">
				<span class="me image image-full"><img src="images/me.jpg" onmouseover="this.src='images/me2.jpg'" onmouseout="this.src='images/me.jpg'"/></span>
			</div>
			<div class="8u">
				<header>
					<h1>Salut ! Je suis une <strong>tortue</strong>.</h1>
				</header>
				<p>Une <strong>tortue marine</strong>, pour être précise, de la superfamille des Chelonioidea. Je suis présente dans tous les océans du monde, sauf l'océan Arctique. Je suis divisée en 6 sous espèces. Malheureusement, mes espèces sont vulnérables ou menacées!</p>
				<a href="#especes" class="button button-big">Apprends-en plus!</a>
			</div>
		</div>
	</article>
</div>
</html>