<html>
<nav id="nav">
	<ul class="container">
		<li><a href="#top">Top</a></li>
		<li><a href="#especes">Espèces</a></li>
		<li><a href="#stades">Stades de vie</a></li>
		<li><a href="#alimentation">Alimentation</a></li>
	</ul>
</nav>
</html>